<div class="box">
  <div class="box-heading flex-align flex-justify-between">
    <span>Latest Products</span>
    <!-- <div class="swipe-nav-box">
      <div id="js-prev3" class="flex-center">
        <span class="material-symbols-outlined"> chevron_left </span>
      </div>
      <div id="js-next3" class="flex-center">
        <span class="material-symbols-outlined"> chevron_right </span>
      </div>
    </div> -->
  </div>

  <div class="swiper-container">
    <!-- <app-prod-card ></app-prod-card> -->
  </div>
</div>
