<div class="features">
  <h1>OUR FEATURES</h1>
  <div class="features-panel">
    <div class="term">
      <h3>100% Fully Responsive</h3>

      <div class="term-box">
        <div class="image">
          <img src="/assets/images/responsive-design.png" alt="" />
        </div>
        <div class="content">
          These days Mobile is the handiest device to access internet. Hence
          your website must be mobile accessible as compatibility.
        </div>
      </div>
    </div>

    <div class="term">
      <h3>Cross Browser Compatibility</h3>

      <div class="term-box">
        <div class="image">
          <img src="/assets/images/chrome.png" alt="" />
        </div>
        <div class="content">
          Cross-browser means web application works with all versions of all
          browsers. To claim cross-browser compatibility, the website is
          nowadays expected to support browsers.
        </div>
      </div>
    </div>

    <div class="term">
      <h3>Dedicated support team</h3>

      <div class="term-box">
        <div class="image">
          <img src="/assets/images/support.png" alt="" />
        </div>
        <div class="content">
          Our support team guarantees to respond you within 24 working hours. We
          will process tickets and respond you to in the queue order.
        </div>
      </div>
    </div>

    <div class="term">
      <h3>High Quality Products</h3>

      <div class="term-box">
        <div class="image">
          <img src="/assets/images/like.png" alt="" />
        </div>
        <div class="content">
          Website design can do wonders for your traffic. Giving a fresh look to
          your website makes your visitors think that you care for them and are
          ready to change with time.
        </div>
      </div>
    </div>
  </div>
</div>
