<app-logo></app-logo>
<div class="info">
  Passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
  hidden in Middle of text. All the lorem ipsum.
</div>
<ul class="social-ul">
  <li>
    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-solid fa-rss"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
  </li>
  <li>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
  </li>
</ul>
