<div class="box">
  <div class="box-heading flex-align">All Department</div>
  <ul class="all-department">
    <li>
      <a
        class="list-item"
        routerLink="categories/All"
        (click)="getProductsByCat('All')"
        >Shoes</a
      >
    </li>
    <li>
      <a
        class="list-item"
        routerLink="categories/Jordan"
        (click)="getProductsByCat('Jordan')"
        >Jordan</a
      >
    </li>
    <li>
      <a
        class="list-item"
        routerLink="/categories/Lifestyle"
        (click)="getProductsByCat('Lifestyle')"
        >Lifestyle</a
      >
    </li>
    <li>
      <a
        class="list-item"
        routerLink="categories/Sports"
        (click)="getProductsByCat('Sports')"
        >Sports</a
      >
    </li>
    <li>
      <a
        class="list-item"
        routerLink="categories/Football"
        (click)="getProductsByCat('Football')"
        >Football</a
      >
    </li>
  </ul>
</div>
