<li class="prod-card">
  <div class="popup" *ngIf="openSizes">
    <app-sizes [dim]="'30px'" (choosenSize)="pushToCart($event)"></app-sizes>
  </div>

  <div class="container" (click)="goToProduct($event)">
    <img [src]="product.images[0]" alt="" />

    <div class="ul-container">
      <ul
        class="star-list flex-justify"
        [ngClass]="{ 'star-list-hover': !isLeft }"
      >
        <li *ngFor="let rate of rating">
          <span class="material-symbols-outlined" [ngClass]="{ mark: rate }">
            star
          </span>
        </li>
      </ul>
      <ul *ngIf="!isLeft" class="button-group flex-center">
        <li
          class="flex-center wish tooltip"
          [ngClass]="{ wishlistStyle: wishlistStyle }"
        >
          <span class="wish material-symbols-outlined"> favorite </span>
        </li>
        <li
          class="flex-center star tooltip"
          [ngClass]="{
            rateStyle: rateStyle,
            add: !rateStyle,
            remove: rateStyle
          }"
        >
          <span class="star material-symbols-outlined"> star </span>
        </li>
        <li class="cart flex-center tooltip">
          <span class="cart material-symbols-outlined"> shopping_cart </span>
        </li>
      </ul>
    </div>

    <div class="name">{{ product.name }}</div>
    <div class="price">₪{{ product.price }}</div>
    <button *ngIf="isLeft" class="btn">
      Add To Cart
      <span class="material-symbols-outlined flex-center"> shopping_cart </span>
    </button>
  </div>
</li>
