:host {
  ::ng-deep {
    @import "swiper/scss";
    @import "swiper/scss/navigation";
    @import "swiper/scss/pagination";
  }
}

/* Swiper relocate nav next and prev btn */
.swipe-nav-box {
  position: relative;
  display: flex;
}

.swipe-nav-box div span {
  font-size: 18px;
}

#js-prev1,
#js-next1 {
  margin: 0 3px;
  position: static;
  border: 1px solid;
}

.swipe-nav-box div:hover {
  color: #d40317;
  cursor: pointer;
}

.swiper-container {
  border: 1px solid #f2f2f2;
}
/* Swiper relocate nav next and prev btn */
