<div class="footer-container">
  <div class="footer-main page-row">
    <div class="footer-block col-1">
      <app-footer-left></app-footer-left>
    </div>
    <div class="footer-block col-2">
      <app-footer-info></app-footer-info>
    </div>
    <div class="footer-block col-3">
      <app-footer-account></app-footer-account>
    </div>
    <div class="footer-block col-4">
      <app-footer-right></app-footer-right>
    </div>
  </div>
</div>
<div class="power-container">
  <div class="power page-row flex-center-between">
    <span>Powered By OpenCart Wader - Shoes Store © 2022 </span>
    <ul class="footer-links-img">
      <li><img src="/assets/images/visa.png" alt="" /></li>
      <li><img src="/assets/images/discover.png" alt="" /></li>
      <li><img src="/assets/images/american_express.png" alt="" /></li>
      <li><img src="/assets/images/google_wallet.png" alt="" /></li>
      <li><img src="/assets/images/paypal.png" alt="" /></li>
    </ul>
  </div>
</div>
