<div class="box">
  <div class="box-heading flex-align flex-justify-between">
    <span>Information</span>
  </div>

  <ul class="link-group">
    <li><a routerLink="/" (click)="gotTop()">Home</a></li>
    <li><a routerLink="/contact" (click)="gotTop()">Contact</a></li>
    <li><a routerLink="/features" (click)="gotTop()">Our Features</a></li>
    <li><a routerLink="/cart" (click)="gotTop()">Shopping Cart</a></li>
    <li><a routerLink="/wishlist" (click)="gotTop()">Wish List</a></li>
  </ul>
</div>
