<div class="dropDownMenu">
  <table class="cart-table scroll-bar">
    <tbody>
      <tr *ngFor="let item of (cart | async)?.['cart']">
        <td><img [src]="item.id.images[0]" alt="" /></td>
        <td>{{ item.id.name }}</td>
        <td><span style="font-weight: 500">Size:</span> {{ item.size }}</td>
        <td>x{{ item.qt }}</td>
        <td>₪{{ item.id.price }}</td>
        <td>
          <a (click)="pullItem(item.id._id, item.size)" class="del flex-align"
            ><i class="fa-sharp fa-solid fa-xmark"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="sum">
    <div class="sum-headline sub-total">
      <span>Sub Total: </span>
      <span>₪{{((cart| async)?.['subTotal']).toFixed(2)}}</span>
    </div>

    <div class="sum-headline total">
      <span>Total: </span>
      <span>₪{{((cart| async)?.['total']).toFixed(2)}}</span>
    </div>
  </div>

  <div class="buttons flex-align">
    <a routerLink="/cart" class="btn view-cart">View Cart</a>
    <a (click)="checkout()" class="btn">Checkout</a>
  </div>
</div>
