<div class="nav flex-align page-row flex-justify-between">
  <div class="box-heading flex-align burger" (click)="openHiddenMenu()">
    <span>MENU</span>
  </div>
  <ul *ngIf="this.open" class="hidden-link-list">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/cart">Shopping Cart</a></li>
    <li><a routerLink="/wishlist">Wish List</a></li>
  </ul>
  <ul class="link-list flex-align">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/features">Our Features</a></li>
    <li><a routerLink="/cart">Shopping Cart</a></li>
    <li><a routerLink="/wishlist">Wish List</a></li>
  </ul>
  <app-search></app-search>
</div>
