<div class="search-container">
  <div class="search flex-align" [ngClass]="{ none: !isInputOpen }">
    <input
      #search
      name="search"
      type="text"
      placeholder="Search Products Here"
    />
    <a
      class="for-tablets-up"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (click)="openSearchInput()"
    >
      <img [src]="this.hover ? searchRedSrc : searchSrc" alt="" />
    </a>
  </div>
  <a class="for-tablets-down" (click)="openSearchInput()">
    <img [src]="isInputOpen ? closeInputSrc : searchSrc" alt="" />
  </a>
</div>
