<div class="contact">
  <h1>Contact Us</h1>
  <h3>Our Location</h3>
  <div class="panel-body">
    <div class="contact-info">
      <div class="headline">
        <i class="fa-solid fa-house-chimney"></i>
        <strong>Wader - Shoes Store</strong>
      </div>
      <div class="info">Address</div>
    </div>
    <div class="contact-info">
      <div class="headline">
        <i class="fa-solid fa-phone"></i>
        <strong>Telephone </strong>
      </div>
      <div class="info">123456789</div>
    </div>
  </div>

  <fieldset>
    <legend>Contact Form</legend>
    <div class="form-group required">
      <label for="yourName">Your Name</label>
      <input type="text" name="" id="" placeholder="Your Name" />
    </div>
    <div class="form-group required">
      <label for="email">E-mail Address</label>
      <input type="text" name="" id="" placeholder="E-mail Address" />
    </div>
    <div class="form-group required">
      <label for="email">Enquiry</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
  </fieldset>

  <div class="submit">
    <button class="btn">Submit</button>
  </div>
</div>
