.register {
  width: 100%;
  letter-spacing: 0.5px;
  line-height: 26px;
}

h1 {
  color: #000000;
  text-transform: capitalize;
  font: 500 20px/26px "Roboto", sans-serif;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
  color: #808080;
  font-size: 14px;
}

p a {
  color: #808080;
  /* text-decoration: none; */
  transition: 0.3s;
}

p a:hover {
  color: #d40317;
}

fieldset {
  border: none;
  width: 100%;
}

legend {
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: inherit;
  margin-bottom: 20px;
  padding: 0 0 12px;
  width: 100%;
  color: #000;
  letter-spacing: 0.5px;
}

.form-group,
.form-group-radio {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
}

.form-group {
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-group-radio {
  align-items: center;
}

.form-group-radio {
  font-weight: 500;
}

.form-group label {
  padding: 7px 15px 0px;
  width: 120px;
  display: inline-block;
  font-weight: 500;
}

.form-group-radio label {
  width: 120px;
}

.radio {
  padding: 10px;
}

.radio label input {
  margin: 0 5px;
}

.form-group input {
  margin: 0 15px;
  padding: 6px 12px;
  flex-grow: 1;
  display: block;
  height: 40px;
  font-size: 14px;
  color: #222222;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.register-footer {
  margin: 14px 0px;
  justify-content: flex-end;
}

.register-footer * {
  margin: 0px 7px;
}

.register-footer button {
  display: inline-block;
  padding: 8px 20px;
}

.register-footer a {
  color: #808080;
  display: inline-block;
  font-weight: 500;
  transition: 0.3s;
}

.register-footer a:hover {
  color: #d40317;
}

.register-footer input {
  display: inline-block;
}

/* required - before element */
.required label::before {
  content: "*";
  color: #f00;
  font-weight: bold;
  padding: 2px 4px;
}
/* required - before element */

/* Big tablets to 1200px (widths smaller then 1140px row)*/
@media only screen and (max-width: 1200px) {
}

/* Small tablets to big tablets from 767px - 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets from 481px - 767px */
@media only screen and (max-width: 767px) {
  .form-group,
  .form-group-radio {
    flex-direction: column;
  }

  .form-group-radio {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-group input {
    width: 100%;
    margin: 0px;
  }

  .form-group label {
    width: 200px;
    padding: 7px 0px 0px 0px;
  }
}

/* Small phones from 0 - 480px */
@media only screen and (max-width: 480px) {
}
