<div class="service-container flex-align">
  <div class="service flex-center">
    <div class="img-container">
      <img src="/assets/images/truck.png" alt="" />
      <img src="/assets/images/truck-red.png" alt="" />
    </div>
    <div class="service-heading">Free World Delivery</div>
    <div class="service-description">Lorem ipsum dolor</div>
  </div>
  <div class="service flex-center">
    <div class="img-container">
      <img src="/assets/images/refund.png" alt="" />
      <img src="/assets/images/refund-red.png" alt="" />
    </div>
    <div class="service-heading">Free World Delivery</div>
    <div class="service-description">Lorem ipsum dolor</div>
  </div>
  <div class="service flex-center">
    <div class="img-container">
      <img src="/assets/images/phone.png" alt="" />
      <img src="/assets/images/phone-red.png" alt="" />
    </div>
    <div class="service-heading">Free World Delivery</div>
    <div class="service-description">Lorem ipsum dolor</div>
  </div>
</div>
